@font-face {
    font-family: 'loveloblack';
    src: url('lovelo_black-webfont.eot');
    src: url('lovelo_black-webfontd41d.eot?#iefix') format('embedded-opentype'),
         url('lovelo_black-webfont.woff2') format('woff2'),
         url('lovelo_black-webfont.woff') format('woff'),
         url('lovelo_black-webfont.ttf') format('truetype'),
         url('lovelo_black-webfont.svg#loveloblack') format('svg');
    font-weight: normal;
    font-style: normal;
}